@import "../../global.scss";

.testimonial-slider {
  width: 100%;
  display: flex;

  @media #{$screen-medium} {
    width: 50%;
    max-width: 600px;
  }
}

.testimonial-nav {
  padding: 48px 0px;
  display: flex;
  align-items: center;

  &__button {
    width: 12px;
    height: 12px;
    margin: 0px 4px;
    background-color: $color-very-light-gray;
    border: 1px solid $color-bright-red !important;
    border-radius: 50%;

    &:first-child {
      margin-left: 0px;
    }

    &:last-child {
      margin-right: 0px;
    }

    &--active {
      background-color: $color-bright-red;
      cursor: default !important;
    }
  }
}
