@import "./global.scss";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main {
  font-family: $font-family-normal;
  font-size: $font-size-normal;
  font-weight: $font-weight-normal;
  overflow: hidden;
}

.container {
  width: 90%;
  margin: 0px auto;

  @media #{$screen-medium} {
    width: 85%;
  }

  @media #{$screen-large} {
    width: 80%;
  }

  @media #{$screen-extra-large} {
    width: 75%;
  }
}

.heading {
  margin-bottom: 12px;
  padding-bottom: 12px;
  font-size: 1em;
  font-weight: $font-weight-bold;
  line-height: 1.3em;
  text-align: center;

  &--large {
    font-size: 2.25em;

    @media #{$screen-medium} {
      font-size: 2.5em;
    }
    @media #{$screen-large} {
      font-size: 2.75em;
    }
    @media #{$screen-extra-large} {
      font-size: 3em;
    }
  }

  &--medium {
    font-size: 1.75em;

    @media #{$screen-medium} {
      font-size: 2em;
    }
    @media #{$screen-large} {
      font-size: 2.25em;
    }
    @media #{$screen-extra-large} {
      font-size: 2.5em;
    }
  }

  &--small {
    font-size: 1.25em;

    @media #{$screen-medium} {
      font-size: 1.5em;
    }
    @media #{$screen-large} {
      font-size: 1.75em;
    }
    @media #{$screen-extra-large} {
      font-size: 2em;
    }
  }

  &--align-left {
    text-align: left;

    &-on-desktop {
      text-align: center;

      @media #{$screen-medium} {
        text-align: left;
      }
    }
  }

  &--align-right {
    text-align: right;

    &-on-desktop {
      text-align: center;

      @media #{$screen-medium} {
        text-align: right;
      }
    }
  }
}

.text {
  color: $color-dark-grayish-blue;
  line-height: 2em;
  text-align: center;

  &--small {
    font-size: 0.9em;
  }

  &--smaller {
    font-size: 0.8em;
  }

  &--align-left {
    text-align: left;

    &-on-desktop {
      text-align: center;

      @media #{$screen-medium} {
        text-align: left;
      }
    }
  }

  &--align-right {
    text-align: right;

    &-on-desktop {
      text-align: center;

      @media #{$screen-medium} {
        text-align: right;
      }
    }
  }
}

.button {
  display: block;
  transition: $time-transition;
  border: none;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &--orange {
    padding: 12px 24px;
    background-color: $color-bright-red;
    color: $color-very-light-gray;
    font-weight: $font-weight-bold;
    border-radius: 32px;

    &:hover {
      background-color: $color-bright-red-hover;
      color: $color-very-light-gray-hover;
    }
  }

  &--white {
    padding: 12px 24px;
    color: $color-bright-red;
    background-color: $color-very-light-gray;
    font-weight: $font-weight-bold;
    border-radius: 32px;

    &:hover {
      color: $color-bright-red-hover;
      background-color: $color-very-light-gray-hover;
    }
  }
}
